<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
         
      <!--
      <diagramTextProvider
            id="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            label="Diagrams in text editor"
            >
      </diagramTextProvider>
	  -->

      <diagramTextProvider
            id="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            label="Diagrams in text console"
            >
      </diagramTextProvider>
   </extension>
   
   <extension-point id="textDiagramProvider" name="Text diagram provider" schema="schema/textDiagramProvider.exsd"/>
   <extension
         point="net.sourceforge.plantuml.text.textDiagramProvider">

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.plantumlDiagramProvider"
            label="PlantUML diagrams in text editor"
			diagramPrefix="@startuml"
			diagramSuffix="@enduml"
			fileExtensions="txt,text,puml,plantuml"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.mindmapDiagramProvider"
            label="Mind map diagrams in text editor"
			diagramPrefix="@startmindmap"
			diagramSuffix="@endmindmap"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.saltDiagramProvider"
            label="Salt (widget) diagrams in text editor"
			diagramPrefix="@startsalt"
			diagramSuffix="@endsalt"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.wbsDiagramProvider"
            label="Work breakdown structure diagrams in text editor"
			diagramPrefix="@startwbs"
			diagramSuffix="@endwbs"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.ganttDiagramProvider"
            label="Gantt diagrams in text editor"
			diagramPrefix="@startgantt"
			diagramSuffix="@endgantt"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.mdDiagramProvider"
            label="PlantUML diagrams in markdown editor"
			diagramPrefix="```plantuml"
			diagramSuffix="```"
			fileExtensions="md"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.asciidocDiagramProvider"
            label="PlantUML diagrams in asciidoc editor"
			diagramPrefix="[plantuml"
			diagramPrefixRegex="\[plantuml(.*)\]\n\.\.\.\."
			diagramSuffix="...."
			fileExtensions="adoc,asciidoc"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.statemachineDiagramProvider"
            label="State Machines diagrams in text editor"
            diagramPrefix="@start_state_machine"
            diagramSuffix="@end_state_machine"
            >
      </textDiagramProvider>
            	
   </extension>
   
   <extension   
	        point="org.eclipse.ui.editors.annotationTypes">
      <type
	        markerType="FSM.Highlight"
	        name="FSM.Highlight">
	  </type>
   </extension>
	
   <extension
	        id="FSM.Highlight"
	        name="FSM.Highlight"
	        point="org.eclipse.core.resources.markers">
      <super
	        type="org.eclipse.core.resources.textmarker">
	  </super>
   </extension>
	
   <extension
	        point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
	        annotationType="FSM.Highlight"
	        colorPreferenceKey="FSM.Highlight.COLOR"
	        colorPreferenceValue="0,245,255"
	        contributesToHeader="false"
	        highlightPreferenceKey="FSM.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Highlight"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="0"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true"
	        textStylePreferenceValue="BOX"
	        verticalRulerPreferenceKey="org.eclipse.viatra2.slice.ruler"
	        verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   
   <extension   
	        point="org.eclipse.ui.editors.annotationTypes">
      <type
	        markerType="FSM.MARKER"
	        name="FSM.MARKER">
	  </type>
   </extension>
	
   <extension
	        id="FSM.MARKER"
	        name="FSM.MARKER"
	        point="org.eclipse.core.resources.markers">
      <super
	        type="org.eclipse.core.resources.textmarker">
	  </super>
   </extension>
   
   <extension
	        point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
	        annotationType="FSM.MARKER"	        
	        contributesToHeader="false"
	        highlightPreferenceKey="FSM.MARKER.highlight"
	        highlightPreferenceValue="false"
	        includeOnPreferencePage="true"
	        label="FSM.MARKER"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="false"
	        presentationLayer="0"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="false"
	        textStylePreferenceValue="BOX"
	        verticalRulerPreferenceKey="org.eclipse.viatra2.slice.ruler"
	        verticalRulerPreferenceValue="false">
      </specification>
   </extension>
	   

</plugin>
