<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
         
      <!--
      <diagramTextProvider
            id="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            label="Diagrams in text editor"
            >
      </diagramTextProvider>
	  -->

      <diagramTextProvider
            id="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            label="Diagrams in text console"
            >
      </diagramTextProvider>
   </extension>
   
   <extension-point id="textDiagramProvider" name="Text diagram provider" schema="schema/textDiagramProvider.exsd"/>
   <extension
         point="net.sourceforge.plantuml.text.textDiagramProvider">

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.plantumlDiagramProvider"
            label="PlantUML diagrams in text editor"
			diagramPrefix="@startuml"
			diagramSuffix="@enduml"
			fileExtensions="txt,text,puml,plantuml"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.mindmapDiagramProvider"
            label="Mind map diagrams in text editor"
			diagramPrefix="@startmindmap"
			diagramSuffix="@endmindmap"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.saltDiagramProvider"
            label="Salt (widget) diagrams in text editor"
			diagramPrefix="@startsalt"
			diagramSuffix="@endsalt"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.wbsDiagramProvider"
            label="Work breakdown structure diagrams in text editor"
			diagramPrefix="@startwbs"
			diagramSuffix="@endwbs"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.ganttDiagramProvider"
            label="Gantt diagrams in text editor"
			diagramPrefix="@startgantt"
			diagramSuffix="@endgantt"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.mdDiagramProvider"
            label="PlantUML diagrams in markdown editor"
			diagramPrefix="```plantuml"
			diagramSuffix="```"
			fileExtensions="md"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.asciidocDiagramProvider"
            label="PlantUML diagrams in asciidoc editor"
			diagramPrefix="[plantuml"
			diagramPrefixRegex="\[plantuml(.*)\]\n\.\.\.\."
			diagramSuffix="...."
			fileExtensions="adoc,asciidoc"
            >
      </textDiagramProvider>

      <textDiagramProvider
            id="net.sourceforge.plantuml.text.statemachineDiagramProvider"
            label="State Machines diagrams in text editor"
            diagramPrefix="@start_state_machine"
            diagramSuffix="@end_state_machine"
            >
      </textDiagramProvider>
            	-
   </extension>
   
   
   <extension   
	        point="org.eclipse.ui.editors.annotationTypes">
	   <type
	        markerType="FSM.MARKER"
	        name="FSM.MARKER">
	  </type>
      <type
	        markerType="FSM.State.Highlight"
	        name="FSM.State.Highlight">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_1"
	        name="FSM.Transition.Highlight_1">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_2"
	        name="FSM.Transition.Highlight_2">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_3"
	        name="FSM.Transition.Highlight_3">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_4"
	        name="FSM.Transition.Highlight_4">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_5"
	        name="FSM.Transition.Highlight_5">
	  </type>
	  <type
	        markerType="FSM.Transition.Highlight_6"
	        name="FSM.Transition.Highlight_6">
	  </type>	  
   </extension>
   

   
   
   
   
   
   
	
   <extension
	        point="org.eclipse.ui.editors.markerAnnotationSpecification">
	   <specification
	        annotationType="FSM.MARKER"	        
	        contributesToHeader="false"
	        highlightPreferenceKey="FSM.MARKER.highlight"
	        highlightPreferenceValue="false"
	        includeOnPreferencePage="true"
	        label="FSM.MARKER"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="false"
	        presentationLayer="0"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="false"
	        textStylePreferenceValue="BOX"
	        verticalRulerPreferenceKey="org.eclipse.viatra2.slice.ruler"
	        verticalRulerPreferenceValue="false">
      </specification>
      <specification
	        annotationType="FSM.State.Highlight"
	        colorPreferenceKey="FSM.State.Highlight.COLOR"
	        colorPreferenceValue="0,245,255"
	        highlightPreferenceKey="FSM.State.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.State.Highlight"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="0"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification> 
      <specification
	        annotationType="FSM.Transition.Highlight_1"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR1"
	        colorPreferenceValue="0,245,0"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_1"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
	   </specification>
	   
       <specification
	        annotationType="FSM.Transition.Highlight_2"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR2"
	        colorPreferenceValue="230,217,27"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_2"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification>
       <specification
	        annotationType="FSM.Transition.Highlight_3"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR3"
	        colorPreferenceValue="208,10,10"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_3"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification>
       <specification
	        annotationType="FSM.Transition.Highlight_4"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR4"
	        colorPreferenceValue="255,0,255"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_4"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification>
       <specification
	        annotationType="FSM.Transition.Highlight_5"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR5"
	        colorPreferenceValue="51,0,102"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_5"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification>
       <specification
	        annotationType="FSM.Transition.Highlight_6"
	        colorPreferenceKey="FSM.Transition.Highlight.COLOR6"
	        colorPreferenceValue="0,51,0"
	        highlightPreferenceKey="FSM.Transition.Highlight.highlight"
	        highlightPreferenceValue="true"
	        includeOnPreferencePage="true"
	        label="FSM.Transition.Highlight_6"
	        overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
	        overviewRulerPreferenceValue="true"
	        presentationLayer="1"
	        textPreferenceKey="org.eclipse.viatra2.slice.text"
	        textPreferenceValue="true">
      </specification>    
      
   </extension>
	   

</plugin>
